/*$PRIMARY: #8F5BFE!important;
$SECONDARY: #E68A0A!important;
$TERTIARY: #F3E9F1!important;
*/


$primary:       #8F5BFE;
$secondary:     #E68A0A;
/*$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;*/
$light:         #F3E9F1;
/*$dark:          $gray-900 !default;*/
