.btn-outline-info {
    color: $primary;
    border-color: $primary;

    :hover{
        color: #000;
        background-color: $primary;
        border-color: $primary;
    };
};

.has-error {
    border-color: $secondary;
};

.form-control {
    &:focus {
        box-shadow: $primary;
    };
    &:invalid {
        border-color: $secondary;
    }

};