.btn {
    max-width: 200px;
    color: #fff;

    &-outline-info {
    color: $primary;
    border-color: $primary;

        :hover{
            color: #000;
            background-color: $primary;
            border-color: $primary;
        };
    };
};