.container {
    height: 100vh;
}

.card {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid $light;

    img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }
}

.inner-card {
    padding: 10px;
    border-radius: 5px;
}

.heart {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;
    border-radius: 50%;
    background-color: $light;
}

.btn:focus {
    color: #fff;
    background-color: $secondary;
    border-color: $primary;
    box-shadow: none;
}

.badge {
    content: attr(data-count);
    position: relative;
    top: -1rem;
}